body.color{
  background-color: #FFA841;
}
span.forgottenPassword{
  margin: 20px;
  float: right;
}
input.fbButton{
float: right;
height: 15%;
width: 15%;

}
.jumbotron {
    background-color: #f4511e;
    color: #fff;
}
.frame{

  padding-right: 13%;

}
